* {
  margin: 0;
  padding: 0;
}
/* archivo-black-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/archivo-black-v21-latin-regular.woff2")
    format("woff2");
}
/* nanum-gothic-coding-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Nanum Gothic Coding";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/nanum-gothic-coding-v21-latin-regular.woff2")
    format("woff2");
}
body {
  display: flex;
  flex-direction: column;
  gap: 20%;
  background-color: black;
  height: 90vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../assets/images/ships.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header {
  padding: 1rem;
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: "Archivo Black";
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 0 1px blue;
  transition: all ease-in-out 2s;
}
.logo:hover {
  color: yellow;
  transform: scale(1.2);
}
.game-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
button {
  padding: 1rem;
  border: 2px solid white;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Nanum Gothic Coding";
  text-shadow: 1px 0 2px #c800937d;
  transition: all ease-in-out 1s;
}
button:hover {
  border: 2px solid rgb(0, 0, 0);
}
.multi-players-btn {
  background-color: rgb(203, 226, 4);
  color: rgb(0, 0, 0);
}
.single-player-btn {
  background-color: rgb(22, 145, 0);
  color: aliceblue;
}
